h2= Section.model_name.human

.well.well-small
  b.span1 = "#{Section.human_attribute_name :name}:"
  .offset1 = @section.name
== render(partial: "boards", locals: { section: @section })

= link_to t('form.edit'), edit_section_path(@section)
'|
= link_to t('form.back'), sections_path
